<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <div class="gravatar_edit">
        <%= gravatar_for @user, class: 'img-thumbnail'%>
      </div>

      <div class="mb-4">
        <a href="http://gravatar.com/emails" target="_blank">change</a>
      </div>


      <h4><%= f.label :nickname %></h4>
      <%= f.text_field :nickname, class: 'form-control mb-3' %>

      <%= f.submit "Save changes", class: "btn btn-primary btn-block" %>
      <%= link_to 'Discard changes', current_user, type: 'button', class: 'btn btn-outline-warning btn-block mt-3'  %>
    <% end %>
  </div>
</div>