<% provide(:title, @user.name) %>

<p id="notice"><%= notice %></p>

<div>
<%= gravatar_for @user %>
</div>
<%#tableに置き換え<>
#scream参考　avant UI
# tbodyからで良い
%>



<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th scope="row">名前</th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th scope="row">ニックネーム</th>
            <td> <%= @user.nickname %></td>
          
        </tr>
        <tr>
            <th scope="row">質問投稿回数</th>
            <td><%= @post_question%></td>
        </tr>
        <tr>
            <th scope="row">Answer投稿回数</th>
            <td><%= @answer_question%></td>
        </tr>
        <tr>
            <th scope="row">コメント投稿回数</th>
            <td><%= @post_comment%></td>
        </tr>
    </tbody>
</table>


<%= link_to "編集する", edit_user_path(id:@user.id), class: "btn btn-outline-primary col-md-3 offset-md-3" %>


