<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<%= gravatar_for @user %>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
