<% provide(:title, @user.name) %>

<%= link_to "編集する", edit_user_path(id:@user.id), class: "btn btn-outline-primary col-md-3 offset-md-3" %>

<p id="notice"><%= notice %></p>

<%= gravatar_for @user %>

<h3>
  <strong>名前:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>ニックネーム:</strong>
  <%= @user.nickname %>
</h3>

<div class="divider"></div>

<h3>
  <strong>質問投稿回数:</strong>
  <%= @post_question%>
</h3>

<h3>
  <strong>Answer投稿回数:</strong>
  <%= @answer_question%>
</h3>

<h3>
  <strong>コメント投稿回数:</strong>
  <%= @post_comment%>
</h3>






