
<h2 class="text-lg-center">
	<%= @course.course_name %> <%= @lesson.title %>
</h2>

<% @teacher=User.find(@lesson.user_id) %>

<h4 class="text-lg-center"> 担当：<%= @teacher.name %></h4>

<div class="alert alert-primary alert-dismissible fade show m-3" role="alert">
    <span class="alert-icon">
		<i class="fas fa-question-circle"></i>
	</span>
    <span class="alert-text">
		新規質問投稿を行います。
	</span>
</div>

<% if params[:preview_button] %>
    <%= textilize @question.body %>
<% end %>

<div class="callout callout-info card shadow-sm m-3">
    <% if flash[:alert] %>
        <div class="alert alert-danger">
            <i class="fas fa-exclamation-triangle"></i> Error!
            <ul>
            <% flash[:alert].each do |key, value| %>
                <li><%= key %></li>
                <ul>
                <% value.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            <% end %>
            </ul>
        </div>
    <% end %>

    <%= form_with model: @question, :url => {:action => :create}, local: true do |q| %>
    
        <div class="form-group">
            <h5 class="text-info">質問ページ</h5>
            <%= q.select :page, @pages, {}, {class: "custom-select", id: "exampleFormControlSelect1"}%>
        </div>

        <h5 class="text-info">タイトル / Question title</h5>
        <%= q.text_field :title, id: 'title', class:"form-control mb-2", rows:"15", placeholder:"タイトルを入力してください"%>
        <div class='form-group'>
            <div id="editor">
                <h5 class="text-info">質問内容 / Text</h5>
                <%= q.text_area :body, class:"form-control mb-2", rows:"15", placeholder:"質問内容を入力してください\nmarkdown 記法が使えます"%>
                <%= q.hidden_field :user_id, :value => current_user.id%>
                <%= q.hidden_field :lesson_id , :value => params[:id]%>
                <!-- realtime preview js -->
                <script type="text/javascript">
                    $(function() {
                        $("#editor textarea").each(function () {
                            $(this).bind('keyup', replaceMarkdown(this));
                        });
                    
                        function replaceMarkdown(elm) {
                            let v, old = elm.value;
                            return function () {
                                if (old != (v = elm.value)) {
                                    old = v;
                                    str = $(this).val();
                                    $("#marked-area").html(marked(str));
                                }
                            }
                        }
                    });
                </script>
                <!-- Annotation and link  -->
                <div class="accordion" id="accordion">
                    <div class="accordion-item">
                        <h3 id="accordion-heading-two" class="collapsed rounded d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#accordion-collapse-two" aria-expanded="true" aria-controls="accordion-collapse-two">
                            Hypothesis で付けたアノテーションへのリンクをシェアする
                            <span class="accordion-icon">&#10005;</span>
                        </h3>
                        <div id="accordion-collapse-two" class="collapse" aria-labelledby="accordion-heading-two" data-parent="#accordion">
                            <div class="px-3 pb-3">
                                <%= render :partial => "items" %>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Preview -->
                <h5 class="text-info mt-5">プレビュー / Preview</h5>
                <div class="callout callout-primary card shadow-sm m-3">
                    <h3 class="text-primary">Question</h3>
                    <div class="media comment m-2">
                        <div class="media-body mb-1">
                            <div class="media-body-header">
                                <h6 class="comment-author">
                                    <i class="fas fa-user"></i>
                                    Your name / Your nickname
                                </h6>
                                <span class="comment-date text-muted">
                                    <i class="fas fa-clock"></i> Post date / time
                                </span>
                            </div>
                            <div id="marked-area" class="card-text"></div>
                        </div>
                    </div>
                </div>
                <%= q.submit "Post!", class:"btn btn-info btn-block w-25 mt-5", :required => true%>
            </div>
        </div>
    <% end %>
</div>

<div class="callout callout-warning card shadow-sm m-3">
    <%= link_to 'Back to question list', question_list_path(id:params[:id]), type: 'button', class: 'btn btn-outline-warning btn-block w-50' %>
</div>

