<div class="container-fluid">
  <div class="row">
    
	<!-- left col -->
    <div class="col-lg-4">
      <h3>講義一覧</h3>
      <div class="divider divider-diamond m-3"></div>

      <!-- lectures dropdown -->
      <% @courses.each do |c| %>
        <% @course_name = c.course_name %>
        <div class="dropdown m-1">

          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @course_name %>
          </button>

          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 0px; left: 0px; will-change: transform;">

          <% @lessons.each do |l| %>
            <% if @course_name == l.course_name then %>
              <%= link_to l.title, question_list_path, class: "dropdown-item" %>
            <% end %>
          <% end %>

          </div>
        </div>
      <% end %>
    </div>
    <!-- left col end -->


	<%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <div class="col-lg-8">
      <h2 class="text-lg-center">ここに講義名と回数を表示</h2>

      <div class="callout callout-info card shadow-sm m-3">
        <%= form_for(:question, url: login_path) do |q| %>


        <textarea class="form-control mb-2" rows="15" placeholder="質問内容を入力してください"></textarea>
        <button type="button" class="btn btn-info btn-block w-25">投稿する</button>
      </div>
      <div class="callout callout-warning card shadow-sm m-3">
		<%= link_to '質問せずに戻る', :back, type: 'button', class: 'btn btn-warning btn-block w-25' %>
      </div>
    </div>
  </div>
</div>
