<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @lesson_file.title %>
</p>
<p>
  <strong>Filename:</strong>
  <%= @lesson_file.filename %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @lesson_file.comment %>
</p>
<%= link_to 'Edit', edit_lesson_file_path(@lesson_file) %> |
<%= link_to 'Back', lesson_files_path %>
<iframe src="/9-1.pdf" width="1000" height="600" ></iframe>
